<div class="match-card">
   <%= render partial: 'users/user_pic', locals: {user: user}  %>
  <h3><%=user.first_name %></h3>
  <p><%=user.city %></p>
  <%= link_to "✉️", new_chat_path(match), method: :post %>
</div>