<div class=project-show-wrapper>
  <h2><%= @project.name %></h2>
  <p><%= @project.description %></p>
  <div class="skill-card-grid">
    <% @project.skills.each do |skill| %>
      <div class=skill-card><%= skill.name %></div>  
    <% end %>
  </div>
</div>