<p>Current User: <%=current_user.email %></p>
<p>My Matches:</p>
<%# Show all the users that the current user has liked %>
<%# Problem with when a user denies someone they still show up %>
<%# because user.liked_uses doesnt take into account the booleans %>
<% current_user.my_matches_users.each do |user| %>
  <li><%=user.email %></li>
<% end %>
<hr>

<% if @users.nil? %>
  <p>Youve liked everyone</p>
<% else %>
  <div class="cards-grid">
    <% @users.each do |user| %>
      <%= render partial: "user_card", locals: {user: user} %>
    <% end %>
  </div>
<% end %>