/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url("https://fonts.googleapis.com/css?family=Lato|Poppins");

 a {
   text-decoration: none;
   color: black;
 }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Lato", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

img{
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
 .match-card {
   display: grid;
   grid-template-columns: 1fr 1fr;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
   transition: 0.3s;
   padding: 20px;
   border-radius: 20px;
 }

 .match-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

 .match-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 10px;
 }

 .app-wrapper {
  max-width: 80vw;
  margin: auto;
 }

 .cards-grid {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
   grid-gap: 20px
 }

 .user-card {
   display: grid;
   grid-template-rows: repeat(5, auto);
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
   transition: 0.3s;
   border-radius: 10px;
 }

 .buttons {
   display: inline-block;
 }

/* On mouse-over, add a deeper shadow */
.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.content {
  padding: 20px
}