/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url("https://fonts.googleapis.com/css?family=Lato|Poppins");

 a {
   text-decoration: none;
   color: black;
 }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Lato", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}

.user-card img{
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
 .match-card {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
   transition: 0.3s;
   padding: 20px;
   border-radius: 20px;
 }
 
 .match-card img {
    max-width: 60px;
    border-radius: 50%
 }

 .match-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

 .match-grid {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 10px;
 }

 .app-wrapper {
  max-width: 80vw;
  margin: auto;
 }

 .cards-grid {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
   grid-gap: 20px
 }

 .user-card {
   display: grid;
   grid-template-rows: repeat(5, auto);
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
   transition: 0.3s;
   border-radius: 10px;
 }

 .buttons {
   display: inline-block;
 }

 /* Profile picture image */
 div.profile-page-img img {
   max-width: 150px;
   border-radius: 50%
 }


/* On mouse-over, add a deeper shadow */
.user-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.content {
  padding: 20px
}

.user-image {
  border-radius: 50%;
  width: 25%;
  height: auto;
}

/* ============================================== */
 /* Chat containers */
 /* ============================================== */
 .container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 60vw;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.container p.right {
  text-align: right;
}

























































































































































































































.checkbox-list  input[type="checkbox"] {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }
.checkbox-list input {
  display: inline;
 }
.checkbox-list .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }